:root {
    --bg: #f6f8fb;
    --card: #ffffff;
    --accent: #6c63ff;
    --text: #2D2D2D;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, system-ui, sans-serif;
    background: var(--bg);
    padding: 40px;
}

/* YLÄBAARI*/
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card);
    padding: 20px 32px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    margin-bottom: 80px;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.edukologo {
    width: 80px;
}

.HeadTaskmanager {
    font-size: 30px;
    color: var(--accent);
}

/* OIKEA PUOLI YLÄBAARISSA */
.top-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* USEIN KYSYTYT -NAPPI */
.faq-btn {
    padding: 10px 20px;
    font-size: 15px;
    
    border-radius: 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: linear-gradient(135deg, #6C63FF, #857DFF);
    box-shadow: 0 10px 20px rgba(108, 99, 255, 0.35);
    transition: all 0.2s ease;
    color: white;
}

.faq-btn:hover {
    transform: translateY(-1px);
}

/* KIELIVALIKKO */
.language-select {
    padding: 10px 16px;
    font-size: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    font-family: system-ui, sans-serif;
}


/* PÄÄLAYOUT*/
.main-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex: 1;
}

/*TEKSTIBOXI*/
.left-content {
    max-width: 680px;
    width: 100%;
    background: var(--card);
    padding: 56px;
    border-radius: 28px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.10);
    text-align: center;
}

.left-content h1 {
    font-size: 40px;
    margin-bottom: 24px;
    color: var(--text);
}

.left-content p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 32px;
    color: #4B5563;
}

/* KIRJAUDU-NAPPI */
.login-btn {
    padding: 14px 36px;
    font-size: 16px;
    color: white;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #6C63FF, #857DFF);
    box-shadow: 0 10px 20px rgba(108, 99, 255, 0.35);
    transition: all 0.2s ease;
}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(108, 99, 255, 0.45);
}

/* OIKEA PUOLI / BLOB*/
.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blobanimation {
    width: 420px;
    height: 420px;
    background: var(--accent);
    opacity: 0.15;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: blob 10s infinite alternate ease-in-out;
}

@keyframes blob {
    from {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    to {
        border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
    }
}